<% include partials/_head %>
<table>
  <tr>
    <th>Original URL</th>
    <th>Shortened URL</th>
    <th>Action</th>
    </tr>
    <% for(const url in urls){%>
      <tr>
        <td class="longUrl"><%= urls[url] %></td>
        <td><a href="/u/<%= url %>"><%= url %></a></td>
        <td>
          <a class="button" href="/urls/<%= url %>" title="edit">Edit</a>
          <button form="deleteForm_<%= url %>"> Delete URL </button>
          <!-- is hidden via css -->
          <form id="deleteForm_<%= url %>" method="post" action="/urls/<%= url %>/delete"></form> 
        </td>
      </tr>
  <% }%>
</table>
<% include partials/_button %>
<% include partials/_footer %>