<% include partials/_head %>
<table>
  <tr>
    <th>Original URL</th>
    <th>Shortened URL</th>
    <th>Stats</th>
    <th>Action</th>
  </tr>
    <% for(const urlId in urls){%>
      <tr>
        <td class="longUrl"><%= urls[urlId].longUrl %></td>
        <td><a href="/u/<%= urlId %>"><%= urlId %></a></td>
        <td>
          Date Created: <%= urls[urlId].dateCreated %></br>
          Number of Visits: <%= urls[urlId].stats.totalVisitors %></br>
          Unique Visits: <%= urls[urlId].stats.totalUnique.length %>
        </td>
        <td>
          <a class="button" href="/urls/<%= urlId %>" title="edit">Edit</a>
          <button form="deleteForm_<%= urlId %>"> Delete URL </button>
          <!-- is hidden via css -->
          <form id="deleteForm_<%= urlId %>" method="post" action="/urls/<%= urlId %>/delete"></form> 
        </td>
      </tr>
  <% }%>
</table>
<% include partials/_button %>
<% include partials/_footer %>